* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.logo-top, h1 {
    vertical-align: middle;
}

.logo-top {
    padding-left: 20px;
}
h1 {
    display: inline-block;
    font-style: normal;
    font-family: "Afacad Flux", sans-serif;
    font-size: 40px;
}

.container {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

main {
    background-color: #d3d3d3;
    padding-top: 20px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-1 {
    margin-left: 50px;
    color: #ffffff;
    background-color: #5bcdd5;
    border-color: #ffffff;
    height: 30px;
    width: 80px;
}

.button-2 {
    border-radius: 3px;
    border-color: #ffffff;
    height: 30px;
    width: 80px;
    color: #d3d3d3;
    background-color: #ffffff;
    border-color: #d3d3d3;
}

ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}